body {
        text-align: center;
}

body {
        background-color: #f7f7f7;
}

ol {
        margin: 40px;
}

h1 {
        text-decoration: overline;
}

body {
        font-family: monospace;
}

body {
        font-style: italic;
}